In [5]:
print('Hello world!')

Hello world!

In [20]:
print('I \'m ok')

I 'm ok

In [27]:
print('She\'s a teacher. \nHe\'s a student.')

She's a teacher.
He's a student.

In [28]:
print(r'I \'m ok')#加rs不转义

I \'m ok

In [30]:
print('''apple 
banana 
orange''')#换行

apple
banana
orange

In [31]:
5>3#布尔值不用print了哟

True

In [33]:
5>3 and 7<4

False

In [34]:
5>3 or 7<4

True

In [37]:
not True #大小写敏感

False

In [38]:
not 1<2

False

In [42]:
age=25
if age>=18:
    print('adult')
else:    
    print('teenager')

adult

In [46]:
10/3

3.3333333333333335

In [47]:
9/3 #整除也是浮点数

3.0

In [49]:
10//3 #整除

3

In [50]:
10%3 #取余数

1

In [59]:
#list列表与tuple元组
A=['Tony','Kimi','Janny'] #list列表
print(A)

['Tony', 'Kimi', 'Janny']

In [55]:
A[0]

'Tony'

In [52]:
len(A)

3

In [56]:
fruits=['apple','banana','orange']
fruits

['apple', 'banana', 'orange']

In [58]:
fruits[2]

'orange'

In [60]:
fruits[-1] #获取倒数第一个

'orange'

In [64]:
fruits.append('melon')
fruits

['apple', 'banana', 'orange', 'melon', 'melon', 'melon', 'melon']

In [65]:
fruits.insert(1,'watermelon')
fruits

['apple', 'watermelon', 'banana', 'orange', 'melon', 'melon', 'melon', 'melon']

In [66]:
fruits.pop()
fruits

['apple', 'watermelon', 'banana', 'orange', 'melon', 'melon', 'melon']

In [68]:
my_fruits=('strawberry','cherry','grape') #tuple元组，注意等号、小括号
my_fruits

('strawberry', 'cherry', 'grape')

In [71]:
B=(1,2,3)
B

(1, 2, 3)

In [73]:
C=(3,) #只有一个元素的需加逗号,否则会作为运算
C

(3,)

In [74]:
D=() #定义一个空的tuple
D

()

In [76]:
L=[1,5,6,[7,2],8] #list还可以这样写
L

[1, 5, 6, [7, 2], 8]

In [85]:
if age >= 18:
    print('your age is',age)
    print('adult')

your age is 25
adult

In [87]:
age=6
if age>=18:
    print('your age is',age)
    print('adult')
else:
    print('your age is',age)
    print('teenager')

your age is 6
teenager

In [90]:
age=1
if age>=18:
    print('adult')
elif age>=6:
    print('teenager')
elif age>=2:
    print('kid')
else:
    print('baby')

baby

In [93]:
if 123:   #123部分凡是非空数值、字符串、list等，都输出为Ture，这是一种简写
    print('Ture')

Ture

In [104]:
s=input('birth:')
birth=int(s)
if birth>2000:
    print('小鲜肉')
else:
    print('老腊肉')

birth: 2001

小鲜肉

In [7]:
sum=0
for x in [1,2,3,4,5,6,7,8,9]: #注意冒号
    sum=sum+x #缩进指的是在for循环里面
print(sum)

45

In [9]:
sum=0
for x in range(100):
    sum=sum+x
print(sum)

4950

In [13]:
sum=0
n=99
while n>0:
    sum=sum+n
    n=n-2
print(sum)

2500

In [21]:
n=1
while n<=10:
    print(n)
    n=n+1
print('END')

1
2
3
4
5
6
7
8
9
10
END

In [22]:
n=1
while n<=10:
    if n>5:
        break #break用于提前结束循环
    print(n)
    n=n+1
print('END')

1
2
3
4
5
END

In [29]:
n=1
while n<10:
    n=n+1
    if n%2==0: #两个等号判断两边的值是否相等，返回一个布尔值
        continue
    print(n)
print('END')

3
5
7
9
END

In [58]:
#dict与set
d={'Tony':80,'Micheal':85,'B0b':90} #这是dint，全称dictionary，注意大括号和冒号
print(d)
#和list比较，dict有以下几个特点：查找和插入的速度极快，不会随着key的增加而变慢；需要占用大量的内存，内存浪费多。——用内存换时间。而list相反。

{'Tony': 80, 'Micheal': 85, 'B0b': 90}

In [40]:
d['Jack']=60
print(d)

{'Tony': 80, 'Micheal': 85, 'B0b': 90, 'Jack': 60}

In [41]:
d['Tony']

80

In [42]:
'Janny'in d #判断key是否在dict里面

False

In [44]:
d.get('Tony')

80

In [46]:
d.get('Janny',None) #也可以用d里面get的方法，不在则返回空值

In [47]:
d.get('Janny',-1) #也可以自己指定value

-1

In [43]:
d.pop('Jack') #在dict里删除key
print(d)

{'Tony': 80, 'Micheal': 85, 'B0b': 90}

In [52]:
s=set([1,2,3,3,3]) #set需要提供一个list作为输入输入集合，重复的值会被过滤。set和dict的唯一区别仅在于没有存储对应的value。
print(s)

{1, 2, 3}

In [53]:
s.add(4)
print(s)

{1, 2, 3, 4}

In [54]:
s.remove(4)
s

{1, 2, 3}

In [55]:
s1=set([1,2,3]) #set可以看作数学上的集合（无序，不重复），因此可以做交集/并集运算
s2=set([1,2,4])
s1&s2 #交集运算

{1, 2}

In [57]:
s1|s2 #并集运算

{1, 2, 3, 4}